:root {
  --color-primary: #222222;
  --color-secondary: #666666;
  --text-color-primary: #ffffff;
}
body {
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--color-primary);
  color: var(--text-color-primary);
}
hr {
  padding: 0;
  margin: 0;
  border: 0.5px solid transparent;
}
span {
  font-weight: bold;
}

/* ----------------Navigation Bar--------------------------- */
.navbar-container {
  /* background-color: rgb(253, 20, 20); */
  display: none;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 20px;
  box-sizing: border-box;
}
.navbar-container > div > a {
  text-transform: uppercase;
  padding: 0;
  margin: 20px;
  text-decoration: none;
  color: var(--text-color-primary);
}
.navbar-container > div > a:hover {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
}

/* ---------------Home Page----------------------------------- */
.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#profile-image {
  height: 300px;
  width: 300px;
  padding: 0;
  border-radius: 50%;
  background-color: #cccccc50;
}
#salutation {
  font-size: 50px;
}
#name {
  font-size: 70px;
  font-weight: bold;
}
#rest {
  font-size: 16px;
  text-transform: uppercase;
}

/* -----------------------------Resume Section------------------------ */
.resume-container {
  height: 100vh;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px;
}
.resume-main-container {
  display: flex;
  gap: 50px;
}
#resume-head, #project-head, #about-head, 
#contact-head {
  font-size: 70px;
  margin: 50px;
  text-align: center;
}
.resume-education, .resume-experience {
  display: flex;
  flex-direction: column;
}
.resume-title {
  font-size: 25px;
  padding: 10px;
}
.resume-item {
  width: 400px;
  height: fit-content;
  background-color: var(--color-primary);
  border: 4px solid transparent;
  border-radius: 7px;
  margin-top: 20px;
  padding: 10px;
}
.course-date {
  font-size: 0.8rem;
}
.resume-experience-details {
  font-size: 1rem;
}


/* -----------------------------Projects Page------------------------- */
.project-container {
  height: 100vh;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px;
}
#project-type {
  display: flex;
  gap: 30px;
  width: auto;
  justify-content: center;
  padding: 10px;
}
#project-type > div > a {
  text-transform: uppercase;
  margin: 20px;
  text-decoration: none;
  color: var(--text-color-primary);
}
#project-images {
  display: flex;
  gap: 50px;
}
#project-images > div > a > img {
  height: 400px;
  width: 400px;
  object-fit: fit;
  border-radius: 10px;
}
.project-title {
  text-align: center;
}
#project-others {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* ------------------------About Me Page---------------------------- */
.about-container {
  height: 100vh;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}
.about-main-content {
  display: flex; 
  justify-content: center;
  gap: 50px;
}
.about-image > img {
  object-fit: fit;
  max-width: 580px;
  height: 480px;
}
.about-content {
  height: fit-content;
  max-width: 580px;
}
.about-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.about-buttons > * {
  margin: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: var(--text-color-primary);
  border-radius: 100px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #bac964;
}
.about-buttons > *:hover {
  background-color: #4b5122;
}
#content-text {
  font-size: 20px;
  line-height: 150%;
}


/* ------------------------Contact Sections---------------------------- */
.contact-container {
  height: 100vh;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
} 
.contact-main-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.message-container {
  display: flex;
  flex-direction: column;
}
.contact-details-container {
  display: flex;
  flex-direction: column;
}
.contact-title {
  font-size: 25px;
  padding: 20px  20px  20px 0;
}
.input-box{
  background-color: #000000;
  border-radius: 10px;
  border: 0px solid transparent;
  width: 600px;
  height: 48px;
  margin-top: 10px;
  padding: 5px 15px 5px 15px;
  color: var(--text-color-primary);
  font-size: 16px;
}
.contact-submit {
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  color: var(--text-color-primary);
  border-radius: 100px;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 0;
  background-color: #bac964;
  width: 300px;
  height: 48px;
  font-family: 'Ubuntu', sans-serif;
}
.contact-submit:hover {
  background-color: #4b5122;
}
.contact-type {
  color: #222222;
  font-weight: bold;
}
.socials {
  display: flex;
  justify-content: left;
  gap: 30px;
}
.socials > * {
  color: var(--text-color-primary);
  text-align: center;
  padding: 10px 10px 10px 0px;
}

footer {
  text-align: center;
  line-height: 150%;
  padding: 30px;
}


/* ------------------------Media Queries------------------------------- */

@media (max-width: 480px) {
  .home-container {
    height: 100vh;
  }
  #name {
    font-size: 30px;
  }
  #salutation {
    font-size: 20px
  }
  #rest {
    font-size: 10px;
  }
  #profile-image {
    height: 200px;
    width: 200px;
  }

/* -------------------------------------------resume sections--------------- */
  .resume-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    padding: 50px 5% 50px 5%;
  }
  .resume-main-container {
    flex-direction: column;
  }
  .resume-item {
    width: auto;
  }
  .resume-title{ 
    text-align: center;
  }

/* --------------------------project-sections-------------- */
  .project-container {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 50px 5% 50px 5%;
  }
  #project-images {
    flex-direction: column;
  }
  #project-head, #resume-head, #about-head, #contact-head {
    font-size: 30px;
    margin: 20px;
  } 
  #project-type{
    gap: 5px;
    text-align: center;
  }
  #project-type > div > a {
    margin: 10px;
    font-size: 0.6rem;
  }
  #project-images > div > a > img {
    width: 100%;
    height: auto;
  }
 
/* ------------------------about-sections----------------- */
  .about-container {
    height: 100%;
    gap: 20px;
    padding: 50px 5% 50px 5%;
  }
  .about-main-content {
    flex-direction: column;
    gap: 20px;
  }
  .about-image > img {
    max-width: 100%;
    height: auto;
  }
  .about-buttons > * {
    margin: 10px;
    padding: 10px;
    font-size: 0.8rem;
  }
  #content-text {
    font-size: 16px;
    text-align: center;
  }
  
/* ------------------------contact section----------------- */
  .contact-container {
    height: 100%;
    padding: 50px 5% 50px 5%;
    gap: 20px;
  }
  .contact-main-container {
    flex-direction: column;
  }
  .contact-title {
    text-align: center;
  }
  .input-box {
    width:auto;
  }
  .contact-submit {
    width: 50%;
  }

}



@media (min-width: 481px) and (max-width: 1200px) {
  .home-container {
    height: 100vh;
    padding: 30px;
  }
  #name {
    font-size: 50px;
  }
  #salutation {
    font-size: 30px
  }
  #rest {
    font-size: 13px;
  }
  #profile-image {
    height: 250px;
    width: 250px;
  }

  /* -------------------------------resume section------------------ */
  .resume-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px 10% 50px 10%;
  }
  .resume-main-container {
    flex-direction: column;
  }
  .resume-title{ 
    text-align: center;
  }
  .resume-item {
    width: auto;
  }

  /* ---------------------------projects section--------------------- */
  #project-head, #resume-head, #about-head, #contact-head {
    font-size: 50px;
  } 
  .project-container {
    height: 100%;
    padding: 50px 10% 50px 10%;
  }
  #project-images {
    flex-direction: column;
  }


/* ---------------------------About section-------------------------- */
  .about-container {
    height: 100%;
    gap: 20px;
    padding: 50px 10% 50px 10%;
  }
  .about-main-content {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .about-image > img {
    max-width: 100%;
    height: auto;
  }
  #content-text {
    font-size: 18px;
  }

  /* -----------------------contact section-------------------------- */
  .contact-container {
    height: 100%;
    padding: 50px 10% 50px 10%;
    gap: 20px;
   justify-content: center;
  }
  .contact-main-container {
    flex-direction: column;
  }
  .contact-title {
    text-align: center;
  }
  .input-box {
    width: auto;
  }
  .contact-submit {
    width: 50%;
  }

}