body {
  margin: 20px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #222222;
  color: #ffffff;
}
hr {
  padding: 0;
  margin: 0;
  border: 2px solid transparent;
}
span {
  font-weight: bold;
}

/* ----------------Navigation Bar--------------------------- */
.navbar-container {
  /* background-color: rgb(253, 20, 20); */
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 20px;
  box-sizing: border-box;
}
.navbar-container > div > a {
  text-transform: uppercase;
  padding: 0;
  margin: 20px;
  text-decoration: none;
  color: #ffffff;
}
.navbar-container > div > a:hover {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
}

/* ---------------Home Page----------------------------------- */
.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#profile-image {
  height: 300px;
  width: 300px;
  padding: 0;
  border-radius: 50%;
  background-color: #cccccc50;
}
#salutation {
  font-size: 50px;
}
#name {
  font-size: 70px;
  font-weight: bold;
}
#rest {
  font-size: 16px;
  text-transform: uppercase;
}

/* -----------------------------Resume Section------------------------ */
.resume-container {
  height: 100vh;
  background-color: #666666;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 6fr;
  justify-content: center;
  padding-left: 25%;
  padding-right: 25%;
  gap: 30px;
  padding-bottom: 30px;
}
#resume-head {
  font-size: 70px;
  grid-column: span 2;
  text-align: center;
  margin: 50px;
}
#resume-education, #resume-experience {
  grid-row: span 2;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
.resume-title {
  font-size: 25px;
}
.resume-item {
  width: 400px;
  height: fit-content;
  background-color: #222222;
  border: 4px solid transparent;
  border-radius: 7px;
  margin-top: 20px;
  padding: 10px;
}
.course-date {
  font-size: 0.8rem;
}
.resume-experience-details {
  font-size: 1rem;
}


/* -----------------------------Projects Page------------------------- */
.project-container {
  height: 100vh;
  background-color: #666666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#project-head {
  font-size: 70px;
}
#project-type {
  display: flex;
  gap: 20px;
  width: auto;
  justify-content: center;
}
#project-type > div > a {
  text-transform: uppercase;
  padding: 0;
  margin: 20px;
  text-decoration: none;
  color: #ffffff;
}
#project-images {
  display: flex;
  gap: 30px;
}
#project-images > div > a > img {
  height: 300px;
  width: 300px;
  object-fit: fit;
  border-radius: 7px;
}
.project-title {
  text-align: center;
}
#project-others {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* ------------------------About Me Page---------------------------- */
.about-container {
  height: 100vh;
  background-color: #666666;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}
.about-main-content {
  display: flex; 
  justify-content: center;
  gap: 30px;
}
#about-head {
  font-size: 70px;
  text-align: center;
  margin: 50px;
}
.about-image > img {
  object-fit: fit;
  max-width: 600px;
  height: 480px;
}
.about-content {
  height: fit-content;
  max-width: 600px;
}
.about-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.about-buttons > * {
  margin: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 100px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #bac964;
}
.about-buttons > *:hover {
  background-color: #4b5122;
}
#content-text {
  font-size: 20px;
}


/* ------------------------Contact Sections---------------------------- */
.contact-container {
  height: 100vh;
  background-color: #666666;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
#contact-head {
  font-size: 70px;
  text-align: center;
  margin: 50px;
}
.contact-main-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px;
}
.message-container {
  display: flex;
  flex-direction: column;
}
.contact-details-container {
  display: flex;
  flex-direction: column;
}
.contact-title {
  font-size: 25px;
  padding: 20px  20px  20px 0;
}
.input-box{
  background-color: #000000;
  border-radius: 10px;
  border: 0px solid transparent;
  width: 600px;
  height: 48px;
  margin-top: 10px;
  padding: 5px 15px 5px 15px;
  color: #ffffff;
  font-size: 16px;
}
.contact-submit {
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  border-radius: 100px;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 0;
  background-color: #bac964;
  width: 300px;
  font-family: 'Ubuntu';
}
.contact-submit:hover {
  background-color: #4b5122;
}
.contact-type {
  color: #222222;
  font-weight: bold;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.socials > * {
  color: #ffffff;
  text-align: center;
}

footer {
  text-align: center;
  margin: 30px;
  padding: 30px;
}


/* ------------------------Media Queries------------------------------- */

@media (max-width: 480px) {
  body {
    margin: 5px;
  }

  .home-container {
    height: 100vh;
  }
  #name {
    font-size: 30px;
  }
  #salutation {
    font-size: 20px
  }
  #rest {
    font-size: 10px;
  }
  #profile-image {
    height: 200px;
    width: 200px;
  }


  .resume-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    padding-bottom: 30px;
  }
  .resume-item {
    width: 90%;
  }
  .resume-title{ 
    text-align: center;
  }


  .project-container {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #project-images {
    flex-direction: column;
  }
  #project-head, #resume-head, #about-head, #contact-head {
    font-size: 30px;
  } 
  #project-type{
    gap: 5px;
    font-size: 0.6rem;
    text-align: center;
  }
 

  .about-container {
    height: 100%;
    gap: 20px;
  }
  .about-main-content {
    flex-direction: column;
  }
  .about-image > img {
    max-width: 100%;
    height: auto;
  }
  .about-buttons > * {
    margin: 10px;
    padding: 10px;
    font-size: 0.6rem;
  }
  #content-text {
    font-size: 12px;
  }
  

  .contact-container {
    height: 100%;
  }
  .contact-main-container {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .contact-title {
    text-align: center;
  }
  .input-box {
    width: 90%;
  }
  .contact-submit {
    width: 50%;
  }

  .navbar-container {
    display: none;
  }

}

@media (min-width: 481px) and (max-width: 1200px) {
  .home-container {
    height: 100vh;
    padding: 30px;
  }
  #name {
    font-size: 50px;
  }
  #salutation {
    font-size: 30px
  }
  #rest {
    font-size: 13px;
  }
  #profile-image {
    height: 250px;
    width: 250px;
  }


  .resume-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    justify-content: center;
    padding-bottom: 30px;
  }
  .resume-title{ 
    text-align: center;
  }
  #resume-education, #resume-experience {
    display: flex;
  }
  .resume-item {
    width: 95%;
  }


  #project-head, #resume-head, #about-head, #contact-head {
    font-size: 50px;
  } 
  .project-container {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #project-images {
    flex-direction: column;
  }

  .about-container {
    height: 100%;
    gap: 20px;
  }
  .about-main-content {
    flex-direction: column;
  }
  .about-image > img {
    max-width: 100%;
    height: auto;
  }
  #content-text {
    font-size: 16px;
  }

  .contact-container {
    height: 100%;
  }
  .contact-main-container {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .contact-title {
    text-align: center;
  }
  .input-box {
    width: 90%;
  }
  .contact-submit {
    width: 50%;
  }

  .navbar-container {
    display: none;
  }

  
  .navbar-container {
    display: none;
  }
}